.mainheading{
    font-family: 'Exo 2', sans-serif;
    position: relative;
    top: 10px;
}
.button{
    background: none;
    border: none;
    position: relative;
    top: 50px;
    left: 700px;
    transition: 0.3s all;
}
.button:hover{
    color: blue;
}
.logo{
    height: 100px;
    width: 100px;
}